*.class
*.jar
target/
build/
dist/
nbproject/private/
nbproject/private/
nbbuild/
nbdist/
nbactions.xml
nb-configuration.xml
build.xml
nb-configuration.xml
nbactions.xml
nbproject/configs/
nbproject/genfiles.properties
nbproject/build-impl.xml
nbproject/project.properties
nbproject/project.xml
nbproject/var/

